.justifyContentEnd {
  display: flex;
  align-items: center;
  gap: 20px;
}

.customLink,
.customLink:visited,
.customLink:hover,
.customLink:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #767a7f;
  font-size: 1.5em;
}

.customLink:hover,
.customLink:focus,
.customLink:hover,
.customLink:focus {
  color: #5cdb80;
}

.customLink.before:before,
.customLink.after:after,
.navLink.before:before,
.navLink.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.customLink.before:before,
.navLink.before:before {
  top: -0.25em;
}

.customLink.after:after,
.navLink.before:after {
  bottom: -0.25em;
}

.customLink.before:before,
.customLink.after:after {
  height: 4px;
  height: 0.35rem;
  width: 0;
  background: #5cdb80;
}

.customLink.third:after,
.customLink.after:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.customLink.before:hover:before,
.customLink.after:hover:after {
  width: 100%;
}

.customLink:after {
  transition: 0.25s all ease 0.4s;
}

.customLink:before,
.customLink:after {
  width: 100%;
}

.iconLogo {
  width: 20px;
  height: 20px;
}
.wrapperLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5em;
}

@media screen and (min-width: 992px) {
  .collapse {
    justify-content: flex-end;
  }
}
